<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/a1.css">
<link rel="stylesheet" href="/css/a3.css">
<link rel="stylesheet" href="/css/b3.css">
<!-- font awsome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">



<div id="b3-container" class="container-fluid p-sm-0 b3-container mt-4">
    <div class="row d-flex justify-content-center b3-table">
        <!-- pannel left -->
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-8  panel-left a3-form  d-flex flex-column b3-fixed-height">

            <h2 class="a3-title">User Profile</h2>
            <div class="b3-options">
                <a id="b3-link-userprofile" class="b3-choice {{#if isInfo}}b3-chosen{{/if}}" href="/users/profile/info">
                    <img class="b3-icon" src="/img/icon/baseline-person-24px.svg" alt="">
                    <div class="b3-textOpt">Info</div>

                </a>

                <a id="b3-link-history" class="b3-choice {{#unless isInfo}}b3-chosen{{/unless}}"
                    href="/users/profile/history">
                    <img class="b3-icon" src="/img/icon/baseline-restore-24px.svg" alt="">
                    <div class="b3-textOpt">History</div>
                </a>

                <a id="b3-link-setting" class="b3-choice" href="#">
                    <img class="b3-icon" src="/img/icon/baseline-settings-20px.svg" alt="">
                    <div class="b3-textOpt">Setting</div>
                </a>
            </div>
            <br><br><br>
            <div id="logout" class="mt-auto">
                <a href="/users/logout">
                    <img id="b3-logout-icon" src="/img/icon/logout.svg" alt="">
                    Log out
                </a>
            </div>

        </div>

        <!-- pannel right -->
        <!-- profile -->
        <div id="b3-userprofile"
            class="col-md-8 col-sm-10 panel-right b3-fixed-height {{#unless isInfo}}hidden{{/unless}}">
            <div class="a3-form">

                {{#if msgProfileSuccess}}
                <div class="form-control-feedback alert alert-success ">
                    <span class="align-middle">
                        {{msgProfileSuccess}}
                    </span>
                </div>
                {{/if}}

                {{#if msgProfile}}
                <div class="form-control-feedback alert alert-danger ">
                    <span class="align-middle">
                        {{msgProfile}}
                    </span>
                </div>
                {{/if}}

                <div class="b3-header-profile mt-5 d-flex align-items-center justify-content-center">
                    <div class="b3-avatar">
                        <img id="b3-header-avatar" src={{{user.imagePath}}} alt="">
                        <div class="box">
                            <a class="cursor-pointer" data-toggle="modal" data-target="#yesnoModal"><img
                                    class="b3-icon-edit" src="/img/icon/baseline-create-24px.svg" alt=""></a>
                            {{!-- <input type="file" class="chooser" onchange="readURL(this);"> --}}
                            <!-- <div class="b3-cursorpointer"></div> -->
                        </div>
                    </div>
                    <div class="pl-5">
                        <div class="b3-title-name">{{user.name}}</div>
                        <div class="b3-title-location">{{user.location}}</div>
                    </div>
                </div>

                <!-- YesnoModal -->
                <div class="modal fade" id="yesnoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Change avatar</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="/users/profile/info/upload" enctype="multipart/form-data" method="POST">
                                <div class="modal-body">
                                    <!--  SINGLE FILE -->

                                    <input type="file" name="myFile" />


                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary btn-dark"
                                        data-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <form role="form" method="POST" action="/users/updateinfo?_method=PUT">
                    <div class="container b3-form-edit">

                        <div class="row justify-content-center align-content-center">

                            <div class="col-md-5 col-sm-12">
                                <div class="p-relative">
                                    <div class="b3-title-form-opts">User ID</div>
                                    <input type="text" name="userID" readonly value={{user.id}}>
                                </div>
                                <div class="p-relative">
                                    <div class="b3-title-form-opts">Password</div>
                                    <input type="password" name="pasw" value="xxxxxxxx" readonly>
                                    
                                </div>
                                <div class="p-relative">
                                    <div class="b3-title-form-opts">Phone number</div>
                                    <input type="text" name="phone" readonly value={{user.phone}}>
                                    <img id="b3-icon-edit-phone" src="/img/icon/baseline-create-24px-grey.svg" alt="">

                                </div>
                            </div>
                            <div class="col-md-5 col-sm-12">

                                <div class="p-relative">
                                    <div class="b3-title-form-opts">Email address</div>
                                    <input type="text" name="email" readonly value={{user.email}}>
                                </div>

                                <div class="p-relative">
                                    <div class="b3-title-form-opts">Full name</div>
                                    <input type="text" id="nameID" name="fullname" readonly value="{{user.name}}">
                                    <img id="b3-icon-edit-fullname" src="/img/icon/baseline-create-24px-grey.svg"
                                        alt="">
                                </div>

                                <div class="p-relative">
                                    <div class="b3-title-form-opts">Location</div>
                                    <input type="text" name="location" readonly value="{{user.location}}">
                                    <img id="b3-icon-edit-location" src="/img/icon/baseline-create-24px-grey.svg"
                                        alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Save changes">
                </form>
            </div>
        </div>
        <!-- history -->
        <div id="b3-history" class="col-md-8 col-sm-10 panel-right b3-fixed-height {{#if isInfo}}hidden{{/if}}">
            <div class="a3-form">
                <div id="userHistory-container">
                    {{> userHistoryPartial Transactions=Transactions}}
                </div>
            </div>
        </div>
        <!-- setting -->
        <div id="b3-setting" class="col-md-8 col-sm-10 panel-right  b3-fixed-height hidden">
            <div class="a3-form">
                <div class="empty">
                    Does not have any settings...We will add later at backend milestone
                </div>
            </div>
        </div>
        <!-- <div class="col-md-1 col-sm-0"></div> -->
    </div>
</div>
</div>



<script src="/js/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/handlebars-v4.1.2.js"></script>
<script src="/js/a1.js"></script>
<script src="/js/b3.js"></script>
<script src="/js/nav-user-input.js"></script>
<script src="/js/user-history.js"></script>
<script src="/js/footer.js"></script>