<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/a1.css">
<link rel="stylesheet" href="/css/a2.css">
<link rel="stylesheet" href="/css/c3.css">


{{!-- <link rel="stylesheet" href="/css/c1.css"> --}}


<!-- font awsome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">



<div class="container ">
    <div class="row justify-content-center align-content-center">
        <div class="col-6">
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link a2-nav-link" id="nav-home-tab" href="/masterdata">Master
                        Data</a>
                    <a class="nav-item nav-link a2-nav-link active" id="nav-profile-tab" href="#">Transaction</a>
                    <a class="nav-item nav-link a2-nav-link" id="nav-contact-tab" href="/admin">Report</a>
                </div>
            </nav>
        </div>
    </div>
</div>
<div id="station-container" data-station="{{#each stations}}{{ten}}-{{id}};{{/each}}" hidden></div>
<form id='filterForm' action="" method="get">
<div class="container-fluid pb-5" id="c2-filter-div">
    <div class="row mt-4 d-flex justify-content-center">
        <div class="col-3 pl-0 d-inline" style="height:850px !important; overflow: hidden;">
            <div class="container border col-12 ml-0 pt-md-3 p-md-3 h-100">
                <h4>FILTER</h4>
                <h5 class="mt-3">Transaction Time</h5>
                <div id="transaction-filter-div" class="filter-div m-3">
                    <div class="container mt-3">
                        <div class="row ml-0 mr-0">
                            <div class="col-6 pl-0 pr-2 input-date">
                                <!-- <label class="form-check-label" for="bday">From</label> -->
                                <input placeholder="From" id="transactionFrom" type="text" value="{{getTime transactionRange 0}}"
                                    class="datepicker-here my-date-time-picker form-control" data-language='en' name='transaction_min' autocomplete="off"
                                    data-timepicker="true" data-position="bottom left" />
                                <i class="far fa-calendar-alt icon-date mr-3"></i>
                            </div>
                            <div class="col-6 pr-0 pl-2 input-date">
                                <!-- <label class="form-check-label ml-3" for="bday">To</label> -->
                                <input placeholder="To" id="transactionTo" type="text" value="{{getTime transactionRange 1}}"
                                    class="datepicker-here my-date-time-picker form-control" data-language='en' name='transaction_max' autocomplete="off"
                                    data-timepicker="true" data-position="bottom right" />
                                <i class="far fa-calendar-alt icon-date mr-3"></i>
                            </div>
                        </div>
                        <div class="row ml-0 mr-0 mt-3">
                            <select class="c3-my-select" id="selectTransaction" >
                                <option value="1" class="c3-my-option">Last 24h</optionc3-my-option>
                                <option value="3"  class="c3-my-option">Last 3 days</option>
                                <option value="7" class="c3-my-option">Last 7 days</option>
                                <option class="c3-my-option" value="0" {{#unless (isCustomOption transactionRange)}}selected{{/unless}} >All time</option>
                                <option class="c3-my-option" value="-1"  {{#if (isCustomOption transactionRange)}}selected{{/if}} hidden id="transactionCustomSelect">Custom</option>
                            </select>
                        </div>
                    </div>


                </div>
                <h5 class="mt-3">Departure Time</h5>
                <div id="departure-filter-div" class="filter-div m-3">
                    <div class="container mt-3">
                        <div class="row ml-0 mr-0">
                            <div class="col-6 pl-0 pr-2 input-date">
                                <!-- <label class="form-check-label" for="bday">From</label> -->
                                <input placeholder="From" id="departureTimeFrom" type="text" value="{{getTime departureRange 0}}"
                                    class="datepicker-here my-date-time-picker form-control" data-language='en' name='departure_min' autocomplete="off"
                                    data-timepicker="true" data-position='top left' />
                                <i class="far fa-calendar-alt icon-date mr-3"></i>
                            </div>
                            <div class="col-6 pr-0 pl-2 input-date">
                                <!-- <label class="form-check-label ml-3" for="bday">To</label> -->
                                <input placeholder="To" id="departureTimeTo" type="text" value="{{getTime departureRange 1}}"
                                    class="datepicker-here my-date-time-picker form-control" data-language='en'  autocomplete="off"name='departure_max'
                                    data-timepicker="true" data-position='top left' />
                                <i class="far fa-calendar-alt icon-date mr-3"></i>
                            </div>
                        </div>
                        <div class="row ml-0 mr-0 mt-3">
                            <select class="c3-my-select" id="selectDeparture" >
                                <option class="c3-my-option" value="1">Next 24h</option>
                                <option class="c3-my-option" value="3">Next 3 days</option>
                                <option class="c3-my-option" value="7">Next 7 days</option>
                                <option class="c3-my-option" value="0" {{#unless (isCustomOption departureRange)}}selected{{/unless}} >All time</option>
                                <option class="c3-my-option" value="-1"  {{#if (isCustomOption departureRange)}}selected{{/if}} hidden>Custom</option>
                            </select>

                        </div>
                    </div>
                </div>
                <h5 class="mt-3">Client</h5>
                <div id="client-filter-div" class="filter-div m-3">
                    <div class="container mt-3">
                        <label for="usr">Client's phone number</label>
                        <input id="ticketPhone" type="tel" class="form-control"  autocomplete="off"name="phone" placeholder="Phone" value="{{phone}}">
                    </div>
                </div>

                <h5 class="mt-3">Bus</h5>

                <div id="bus-filter-div" class="filter-div m-3">
                    <div class="container mt-3">
                        <div class="row ml-0 mr-0">
                            <label for="usr">Bus's Palace Liscene</label>
                            <input type="text" name="palaceLiscene" class="form-control" id="usr" placeholder="Palace Liscene" value="{{palaceLiscene}}">
                        </div>

                        <div class="row ml-0 mr-0 mt-3 d-flex align-items-center">
                            <div class="col-5 pl-0">
                                <input type="text" class="form-control-plaintext control-inline my-inpyt-text" id="fromInput" name="from" value="{{xuatphat}}" autocomplete="off"
                                    placeholder="From">
                            </div>
                            <div class="col-1 pl-0 text-centur p-0 pl-xs-0">
                                 <i id="swapbutton" style="margin:auto 2px" class="fas fa-exchange-alt" aria-hidden="true"></i>
                            </div>
                            <div class="col-6   pl-xs-0">
                                <input type="text"  id="toInput" name="to" class="form-control-plaintext control-inline my-inpyt-text" value="{{ketthuc}}" autocomplete="off"
                                    placeholder="To">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex  w-100 mt-5 ">
                    <button type="submit" class="btn btn-primary m-auto h-100">Apply Filter</button>
                </div>
            </div>
        </div>
        <div id="transaction-container" style="height:850px !important; overflow: hidden;" class="col-8 border">
                {{> transactionPartial Transactions=Transactions}}
        </div>
    </div>
</div>
</form>

<script src="/js/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/handlebars-v4.1.2.js"></script>
<script src="/js/nav-admin-input.js"></script>
<script src="/js/transaction.js"></script>
<link href="/dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
<script src="/dist/js/datepicker.min.js"></script>
<!-- Include English language -->

<script src="/dist/js/i18n/datepicker.en.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>